
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<h2>Login</h2>

<form action="~/Login/Login" method="post">
    <label>UserName</label>
    <input type="text" name="UserName" value="" /><br />
    <label>Password</label>
    <input type="password" name="Password" value="" /><br />
    <input type="submit" value="Login">
</form>