@model  SampleProject.Models.EmployeeModel

@{
    ViewBag.Title = "SendEmpDetailToViewByModel";
}

<h2>SendEmpDetailToViewByModel</h2>

@Model.Id
<br />
@Model.EmpName
<br />
@Model.EmpSalary
<br />
