
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/ActionForm/Create" method="post">
    <label>Student Name</label>
    <input type="text" name="Sname" /><br /> 

    <label>Fees</label>
    <input type="number" name="Fees" /><br /><br /> 

     <input type="submit"   value="Save" />

</form>